## Imports

In [2]:
# Imports
import pandas as pd
import os
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

# Global Path Variables
PARENT_DIRECTORY = os.pardir

# Global Paths to Data Folders
RAW_DATA_FOLDER = os.path.join(PARENT_DIRECTORY, 'raw')
PROCESSED_DATA_FOLDER = os.path.join(PARENT_DIRECTORY, 'processed')

## Get the Data

## Clean the Data

## Upload to the Database

In [ ]:
# Set path to local MySQL password file
sql_pw_filepath = os.path.join(PARENT_DIRECTORY, os.path.join('..', 'sql_password.txt'))

# Raise exception if key file not found
if not os.path.exists(sql_pw_filepath):
    raise FileNotFoundError('Local MySQL password file not found! Please check directory.')

# Read in MySQL username and password as environment variable
with open(sql_pw_filepath, 'r') as f:
    os.environ['sql_username'] = f.readline().strip()
    os.environ['sql_password'] = f.readline().strip()

In [ ]:
# Connection to MySQL Databse
db_connection_str = f'mysql+pymysql://{os.environ.get("sql_username")}:{os.environ.get("sql_password")}@aipi510.mysql.database.azure.com:3306/project'
db_connection_args = {'ssl': {'enable_tls': True}}
sql_engine = create_engine(db_connection_str, connect_args=db_connection_args)
db_connection= sql_engine.connect()

In [ ]:
# writing processed data to database
table_name = 'influenza_data'
try:
    data.to_sql(table_name, db_connection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print(f'Table {table_name} created successfully!')

Table influenza_data created successfully!

In [ ]:
# Ensure the data was loaded properly
test_sql_query = f'SELECT * FROM {table_name} LIMIT 10'
df_test = pd.read_sql(test_sql_query, db_connection)
df_test.head()

   index Week Ending Date       County     Season   FIPS  Count
0      0       2020-02-15     DELAWARE  2019-2020  36025     48
1      1       2020-02-15      STEUBEN  2019-2020  36101    151
2      2       2020-02-15    SCHOHARIE  2019-2020  36095     24
3      3       2020-02-15  ST LAWRENCE  2019-2020  36089    307
4      4       2020-02-15     CORTLAND  2019-2020  36023    129

In [ ]:
# closing connection to db
db_connection.close()