## Imports

In [8]:
# Imports
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

# Global Path Variables
PARENT_DIRECTORY = os.pardir

# Global Paths to Data Folders
RAW_DATA_FOLDER = os.path.join(PARENT_DIRECTORY, 'raw')
PROCESSED_DATA_FOLDER = os.path.join(PARENT_DIRECTORY, 'processed')

## Get the Data

Since population data is relatively static and only collected once every year, we found it easist to download the data directly instead of writing a python script to pull the data from the web for us. If you are only interested in the data, please refer to the `raw` or `processed` subfolders within the `data` folder depending on which version you want. If you want to download it yourself, please visit the [United States Census Bureau](https://www2.census.gov/programs-surveys/) page and navigate to the `popest` section.

## Clean the Data

In [9]:
# Load the Raw Data
RAW_POULATION_DATA = os.path.join(RAW_DATA_FOLDER, os.path.join('population', 'population_raw.csv'))
df_pop = pd.read_csv(RAW_POULATION_DATA)

# Display the data
display(df_pop)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,36,1,New York,Albany County,2,314368,152914,161454,15098,...,5230,6004,2434,3570,7047,2250,4797,38.3,37.2,39.4
1,50,36,1,New York,Albany County,3,313743,152519,161224,14669,...,5358,6129,2491,3638,6920,2249,4671,38.4,37.4,39.5
2,50,36,3,New York,Allegany County,2,46373,23667,22706,2414,...,788,1023,471,552,970,371,599,39.9,38.9,41.0
3,50,36,3,New York,Allegany County,3,46106,23555,22551,2366,...,773,1023,463,560,946,370,576,40.0,39.0,41.1
4,50,36,5,New York,Bronx County,2,1466438,696255,770183,101318,...,21014,23776,8788,14988,25427,7635,17792,35.0,33.1,36.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,50,36,123,New York,Yates County,6,25207,12261,12946,1584,...,420,603,256,347,631,232,399,41.5,40.6,42.3
678,50,36,123,New York,Yates County,7,25149,12224,12925,1563,...,426,590,249,341,636,235,401,41.6,40.6,42.4
679,50,36,123,New York,Yates County,8,25128,12194,12934,1515,...,422,572,238,334,639,234,405,41.6,40.5,42.6
680,50,36,123,New York,Yates County,9,25059,12158,12901,1554,...,444,558,243,315,620,223,397,41.3,40.3,42.3
681,50,36,123,New York,Yates County,10,25002,12162,12840,1541,...,445,570,246,324,625,226,399,41.4,40.5,42.2

In [10]:
# Drop unnecessary columns
df_pop.drop(columns={'SUMLEV','STATE','COUNTY','STNAME'},inplace=True)

# Format the county strings
df_pop['CTYNAME']=df_pop['CTYNAME'].str.upper()
df_pop['CTYNAME']=df_pop['CTYNAME'].str.replace('COUNTY','')
df_pop['CTYNAME']=df_pop['CTYNAME'].str.strip()

In [11]:
# Extract data from 2018 - 2022
df_pop_fin=df_pop[(df_pop['YEAR']==2) | (df_pop['YEAR']==3) | (df_pop['YEAR']==11) | (df_pop['YEAR']==14)]
df_pop_fin['YEAR']=df_pop_fin['YEAR'].replace(2,2020)
df_pop_fin['YEAR']=df_pop_fin['YEAR'].replace(3,2021)
df_pop_fin['YEAR']=df_pop_fin['YEAR'].replace(11,2018)
df_pop_fin['YEAR']=df_pop_fin['YEAR'].replace(14,2019)

# Drop any geneder related columns
df_pop_fin = df_pop_fin[df_pop_fin.columns.drop(list(df_pop_fin.filter(regex='MALE')))]
df_pop_fin = df_pop_fin[df_pop_fin.columns.drop(list(df_pop_fin.filter(regex='FEM')))]

In [12]:
# Aggregate into age buckets
df_pop_fin['5to17']=df_pop_fin['AGE513_TOT']+df_pop_fin['AGE1417_TOT']
df_pop_fin['18to49']=df_pop_fin['AGE1824_TOT']+df_pop_fin['AGE2529_TOT']+df_pop_fin['AGE3034_TOT']+df_pop_fin['AGE3539_TOT']+df_pop_fin['AGE4044_TOT']+df_pop_fin['AGE4549_TOT']
df_pop_fin['50to64']=df_pop_fin['AGE5054_TOT']+df_pop_fin['AGE5559_TOT']+df_pop_fin['AGE6064_TOT']
df_pop_fin['65plus']=df_pop_fin['AGE65PLUS_TOT']

# Rename some columns
df_pop_fin.rename(columns={"UNDER5_TOT": "0to4", "MEDIAN_AGE_TOT": "median_age"},inplace=True)

# Get final column set
df_pop_fin = df_pop_fin[df_pop_fin.columns.drop(list(df_pop_fin.filter(regex='AGE')))]

# Display the cleaned data and save the processed data
display(df_pop_fin)
df_pop_fin.to_csv(os.path.join(PROCESSED_DATA_FOLDER,'Population_2018192021_clean.csv'), index=False)

,CTYNAME,YEAR,POPESTIMATE,0to4,median_age,5to17,18to49,50to64,65plus
0,ALBANY,2020,314368,15098,38.3,42741,140670,60896,54963
1,ALBANY,2021,313743,14669,38.4,42299,140789,59856,56130
2,ALLEGANY,2020,46373,2414,39.9,7033,18587,9255,9084
3,ALLEGANY,2021,46106,2366,40.0,6924,18477,9109,9230
4,BRONX,2020,1466438,101318,35.0,263068,642814,263884,195354
...,...,...,...,...,...,...,...,...,...
243,WESTCHESTER,2019,967506,53538,41.3,156744,385778,202935,168511
244,WYOMING,2018,40023,1913,42.8,5600,16337,8982,7191
245,WYOMING,2019,39859,1845,43.0,5595,16116,8880,7423
246,YATES,2018,24951,1520,41.3,3951,9107,5211,5162
247,YATES,2019,24913,1541,41.3,3939,9033,5084,5316

## Upload to the Database

In [13]:
sql_pw_filepath = os.path.join(PARENT_DIRECTORY, os.path.join('..', 'sql_password.txt'))

# Raise exception if key file not found
if not os.path.exists(sql_pw_filepath):
    raise FileNotFoundError('Local MySQL password file not found! Please check directory.')

# Read in MySQL username and password as environment variable
with open(sql_pw_filepath, 'r') as f:
    os.environ['sql_username'] = f.readline().strip()
    os.environ['sql_password'] = f.readline().strip()

In [14]:
# Open the connection to the databse
db_connection_str = f'mysql+pymysql://{os.environ.get("sql_username")}:{os.environ.get("sql_password")}@aipi510.mysql.database.azure.com:3306/project'
db_connection_args = {'ssl': {'enable_tls': True}}
sql_engine = create_engine(db_connection_str, connect_args=db_connection_args)
db_connection= sql_engine.connect()

In [ ]:
# Load the population data into the table
population_table = 'population'
try:
    df_pop_fin.to_sql(population_table, db_connection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print(f'Table {population_table} created successfully!');

Table population created successfully!

In [15]:
# Close the connection
db_connection.close()