## Get the Data

In [6]:

# Imports
import os
import pandas as pd
import numpy as np
from pathlib import Path
from sqlalchemy import create_engine

path = Path()
MOBILITY_DATA_FOLDER = os.path.join(os.pardir, os.path.join('data', 'Cleaned_mobility_data'))

In [7]:
# Load the google mobility data
google_mobility_path = os.path.join(MOBILITY_DATA_FOLDER, 'google_mobility_data.csv')
google_mobility_data = pd.read_csv(google_mobility_path)

# Drop the first column
google_mobility_data = google_mobility_data.iloc[:, 1:]

# Display the data
display(google_mobility_data)

,date,county,census_fips_code,retail_and_recreation_percent_change,grocery_and_pharmacy_percent_change,parks_percent_change,transit_stations_percent_change,workplaces_percent_change,residential_percent_change
0,2020-02-15,Albany County,36001,8.000000,-4.000000,45.000000,4.000000,0.000000,0.000000
1,2020-02-15,Allegany County,36003,23.000000,-11.000000,0.000000,0.000000,6.000000,0.000000
2,2020-02-15,Bronx County,36005,0.000000,-8.000000,-5.000000,-3.000000,0.000000,1.000000
3,2020-02-15,Broome County,36007,12.000000,1.000000,9.000000,6.000000,4.000000,0.000000
4,2020-02-15,Cattaraugus County,36009,5.000000,3.000000,13.000000,0.000000,-3.000000,-1.000000
...,...,...,...,...,...,...,...,...,...
8525,2022-10-15,Washington County,36115,15.142857,17.857143,0.000000,0.000000,-17.571429,2.285714
8526,2022-10-15,Wayne County,36117,10.285714,-0.714286,0.000000,0.000000,-14.000000,2.285714
8527,2022-10-15,Westchester County,36119,-11.857143,-2.285714,43.428571,-20.285714,-23.000000,3.571429
8528,2022-10-15,Wyoming County,36121,50.428571,5.000000,0.000000,0.000000,-12.857143,4.285714
8529,2022-10-15,Yates County,36123,-33.000000,29.285714,0.000000,0.000000,-19.571429,2.142857

In [5]:
# Load the county mobility data
geoDS_mobility_path = os.path.join(MOBILITY_DATA_FOLDER, 'geoDS_mobility_data.csv')
geoDS_mobility_data = pd.read_csv(geoDS_mobility_path)

# Drop the first two columns
geoDS_mobility_data = geoDS_mobility_data.iloc[:, 2:]

# Display the data
display(geoDS_mobility_data)

,date,county,fips_code,inflow,outflow,net_flow
0,2020-01-11,Albany County,36001,2367972.0,1828995.0,538977.0
1,2020-01-11,Allegany County,36003,158845.0,267386.0,-108541.0
2,2020-01-11,Bronx County,36005,8303420.0,9908964.0,-1605544.0
3,2020-01-11,Broome County,36007,1320708.0,1193862.0,126846.0
4,2020-01-11,Cattaraugus County,36009,477472.0,464473.0,12999.0
...,...,...,...,...,...,...
6443,2022-01-01,Washington County,36115,161544.0,312072.0,-150528.0
6444,2022-01-01,Wayne County,36117,234242.0,434028.0,-199786.0
6445,2022-01-01,Westchester County,36119,5013052.0,5482346.0,-469294.0
6446,2022-01-01,Wyoming County,36121,98725.0,176913.0,-78188.0
6447,2022-01-01,Yates County,36123,57849.0,105929.0,-48080.0

## Connect to the Database

In [8]:
# Set path to local MySQL password file
sql_pw_filepath = os.path.join(path, os.path.join('..', 'sql_password.txt'))

# Raise exception if key file not found
if not os.path.exists(sql_pw_filepath):
    raise FileNotFoundError('Local MySQL password file not found! Please check directory.')

# Read in MySQL username and password as environment variable
with open(sql_pw_filepath, 'r') as f:
    os.environ['sql_username'] = f.readline().strip()
    os.environ['sql_password'] = f.readline().strip()

In [9]:
# Connect to the Database
db_connection_str = f'mysql+pymysql://{os.environ.get("sql_username")}:{os.environ.get("sql_password")}@aipi510.mysql.database.azure.com:3306/project'
db_connection_args = {'ssl': {'enable_tls': True}}
sql_engine = create_engine(db_connection_str, connect_args=db_connection_args)
db_connection= sql_engine.connect()

## Load the Google Mobility Data to the DB

In [10]:
# Create a new google mobility data and try loading the data
mobility_table = 'google_mobility'
try:
    google_mobility_data.to_sql(mobility_table, db_connection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print(f'Table {mobility_table} created successfully!');

Table google_mobility created successfully!

In [11]:
test_sql_query = f'SELECT * FROM {mobility_table} LIMIT 10'
df_test = pd.read_sql(test_sql_query, db_connection)
display(df_test)

,index,date,county,census_fips_code,retail_and_recreation_percent_change,grocery_and_pharmacy_percent_change,parks_percent_change,transit_stations_percent_change,workplaces_percent_change,residential_percent_change
0,0,2020-02-15,Albany County,36001,8.0,-4.0,45.0,4.0,0.0,0.0
1,1,2020-02-15,Allegany County,36003,23.0,-11.0,0.0,0.0,6.0,0.0
2,2,2020-02-15,Bronx County,36005,0.0,-8.0,-5.0,-3.0,0.0,1.0
3,3,2020-02-15,Broome County,36007,12.0,1.0,9.0,6.0,4.0,0.0
4,4,2020-02-15,Cattaraugus County,36009,5.0,3.0,13.0,0.0,-3.0,-1.0
5,5,2020-02-15,Cayuga County,36011,3.0,-4.0,0.0,29.0,1.0,0.0
6,6,2020-02-15,Chautauqua County,36013,10.0,-1.0,0.0,0.0,6.0,-1.0
7,7,2020-02-15,Chemung County,36015,11.0,-4.0,0.0,-9.0,3.0,1.0
8,8,2020-02-15,Chenango County,36017,-5.0,13.0,0.0,0.0,-4.0,0.0
9,9,2020-02-15,Clinton County,36019,9.0,-2.0,0.0,0.0,5.0,-1.0

## Load the County Mobility Data

In [26]:
# Create a new county_mobility table and try loading the data
mobility_table = 'county_mobility'
try:
    geoDS_mobility_data.to_sql(mobility_table, db_connection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print(f'Table {mobility_table} created successfully!');

Table county_mobility created successfully!

In [27]:
test_sql_query = f'SELECT * FROM {mobility_table} LIMIT 10'
df_test = pd.read_sql(test_sql_query, db_connection)
display(df_test)

,index,date,county,fips_code,inflow,outflow,net_flow
0,0,2020-01-11,Albany County,36001,2367972.0,1828995.0,538977.0
1,1,2020-01-11,Allegany County,36003,158845.0,267386.0,-108541.0
2,2,2020-01-11,Bronx County,36005,8303420.0,9908964.0,-1605544.0
3,3,2020-01-11,Broome County,36007,1320708.0,1193862.0,126846.0
4,4,2020-01-11,Cattaraugus County,36009,477472.0,464473.0,12999.0
5,5,2020-01-11,Cayuga County,36011,373510.0,460414.0,-86904.0
6,6,2020-01-11,Chautauqua County,36013,693319.0,756736.0,-63417.0
7,7,2020-01-11,Chemung County,36015,695516.0,576844.0,118672.0
8,8,2020-01-11,Chenango County,36017,195913.0,270640.0,-74727.0
9,9,2020-01-11,Clinton County,36019,416081.0,393742.0,22339.0

## Close the Connection to the DB

In [12]:
db_connection.close()